<div class="empty"></div>

<div class="row">
    <div class="col-md-6">
        <p>This is a demonstration of how to add TOTP based Two-Factor Authentication to an existing application.</p>
        <img src="@Url.Content("~/Content/Images/monitor-padlock.png")" alt="Monitor Padlock" class="padlock" />
    </div>
</div>
